/* global style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

* {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

.display-flex {
  display: flex;
}

.btn-primary {
  background-color: #e02c6d;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 41px;
  font-size: 1.6rem;
  font-weight: 700;
}

/* Header */
.header {
  max-width: 1440px;
  margin: 0 auto;
}

nav img {
  max-width: 24px;
}

.navbar {
  justify-content: space-between;
  margin: 80px 120px;
}

.nav-links {
  gap: 34px;
}
.nav-logo {
  font-size: 2.4rem;
  font-weight: 700;
}

/* banner section */
.banner {
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  max-width: 582px;
  flex-direction: column;
  margin-left: 120px;
}

.banner-title {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 7rem;

  margin-bottom: 16px;
}

.banner-description {
  margin-bottom: 16px;
}
.banner-imgs {
  position: relative;
  margin-right: 132px;
}

.banner-img {
  position: absolute;
}

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    margin-top: 12px;
    gap: 10px;
  }
  /* tab banner section */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .banner-imgs {
    max-width: 257px;
    margin: 0 auto;
  }
  .banner-text {
    margin: 0 auto;
  }
  .banner-text {
    align-items: center;
    text-align: center;
  }
  .banner-title {
    font-size: 2.8rem;
    max-width: 404px;
    margin-bottom: 16px;
    line-height: normal;
  }
  .banner-description {
    max-width: 321px;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    margin-top: 12px;
    gap: 20px;
  }
  .banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-imgs {
    margin: 0 auto;
  }
  .banner-text {
    margin: 0 auto;
  }
  .banner-text {
    align-items: center;
    text-align: center;
  }
  .banner-title {
    font-size: 2.8rem;
    margin-bottom: 16px;
    line-height: normal;
  }
  .banner-description {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}
